.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    .cube {
        width: 100px;
        height: 100px;
        transform-style: preserve-3d;
        animation: spin 8s infinite linear;
        position: fixed;
        bottom: 100px;
        right: 100px;
        div {
            position: absolute;
            width: 100px;
            height: 100px;
            opacity: 0.8;
        }
        .front {
            transform: translateZ(50px);
            background: linear-gradient(45deg, rgb(148, 129, 255), rgb(68, 53, 156));
        }
        .back {
            transform: translateZ(-50px);
            background: linear-gradient(45deg, rgb(132, 116, 224), rgb(91, 71, 204));
        }
        .top {
            transform: rotateX(90deg) translateZ(50px);
            background: linear-gradient(45deg, rgb(72, 56, 160), rgb(62, 40, 189));
        }
        .bottom {
            transform: rotateX(90deg) translateZ(-50px);
            background: linear-gradient(45deg, rgb(154, 143, 214), rgb(93, 74, 201));
        }
        .left {
            transform: rotateY(90deg) translateZ(50px);
            background: linear-gradient(45deg, rgb(93, 73, 206), rgb(95, 74, 216));
        }
        .right {
            transform: rotateY(90deg) translateZ(-50px);
            background: linear-gradient(45deg, rgb(104, 87, 197), rgb(85, 66, 190));
        }
    }
}

.options {
    display: none;
    position: absolute;
    top: 20%;
    left: 85%;
    z-index: 1;
    .cube1{
        width: 100px;
        height: 100px;
        transform-style: preserve-3d;
        transform: rotateX(347deg) rotateY(341deg);
        /* animation: spin 8s infinite linear; */
        position: fixed;
        top: 100px;
        right: 100px;
        div {
            position: absolute;
            width: 50px;
            height: 50px;
            opacity: 0.8;
        }

        .front {
            transform: translateZ(25px) ;
            background: linear-gradient(45deg, rgb(255, 44, 44), rgb(120, 2, 255));
        }
        .back {
            transform: translateZ(-25px);
            background: linear-gradient(45deg, rgb(255, 44, 44), rgb(120, 2, 255));
        }
        .top {
            transform: rotateX(90deg) translateZ(25px);
            background: linear-gradient(45deg, rgb(255, 44, 44), rgb(120, 2, 255));
        }
        .bottom {
            transform: rotateX(90deg) translateZ(-25px);
            background: linear-gradient(45deg, rgb(255, 44, 44), rgb(120, 2, 255));
        }
        .left {
            transform: rotateY(90deg) translateZ(25px);
            background: linear-gradient(45deg, rgb(255, 44, 44), rgb(120, 2, 255));
        }
        .right {
            transform: rotateY(90deg) translateZ(-25px);
            background: linear-gradient(45deg, rgb(255, 44, 44), rgb(120, 2, 255));
        }

        .instagram {
            fill: rgb(253, 79, 79);
        }

        &:hover{
            cursor: pointer;
        }
    }

    .cube2{
        width: 100px;
        height: 100px;
        transform-style: preserve-3d;
        transform: rotateX(347deg) rotateY(341deg);
        /* animation: spin 8s infinite linear; */
        position: fixed;
        top: 200px;
        right: 100px;
        div {
            position: absolute;
            width: 50px;
            height: 50px;
            opacity: 0.8;
        }
        .front {
            transform: translateZ(25px) ;
            background: linear-gradient(45deg, rgb(107, 110, 255), rgb(6, 2, 255));
        }
        .back {
            transform: translateZ(-25px);
            background: linear-gradient(45deg, rgb(107, 110, 255), rgb(6, 2, 255));
        }
        .top {
            transform: rotateX(90deg) translateZ(25px);
            background: linear-gradient(45deg, rgb(107, 110, 255), rgb(6, 2, 255));
        }
        .bottom {
            transform: rotateX(90deg) translateZ(-25px);
            background: linear-gradient(45deg, rgb(107, 110, 255), rgb(6, 2, 255));
        }
        .left {
            transform: rotateY(90deg) translateZ(25px);
            background: linear-gradient(45deg, rgb(107, 110, 255), rgb(6, 2, 255));
        }
        .right {
            transform: rotateY(90deg) translateZ(-25px);
            background: linear-gradient(45deg, rgb(107, 110, 255), rgb(6, 2, 255));
        }

        .linkendin {
            fill: rgb(181, 181, 255);
        }
        &:hover{
            cursor: pointer;
        }
    }
    .cube3{
        width: 100px;
        height: 100px;
        transform-style: preserve-3d;
        transform: rotateX(347deg) rotateY(341deg);
        /* animation: spin 8s infinite linear; */
        position: fixed;
        top: 300px;
        right: 100px;
        div {
            position: absolute;
            width: 50px;
            height: 50px;
            opacity: 0.8;
        }
        .front {
            transform: translateZ(25px) ;
            background: linear-gradient(45deg, rgb(107, 196, 255), rgb(2, 74, 107));
        }
        .back {
            transform: translateZ(-25px);
            background: linear-gradient(45deg, rgb(107, 196, 255), rgb(2, 74, 107));
        }
        .top {
            transform: rotateX(90deg) translateZ(25px);
            background: linear-gradient(45deg, rgb(107, 196, 255), rgb(2, 74, 107));
        }
        .bottom {
            transform: rotateX(90deg) translateZ(-25px);
            background: linear-gradient(45deg, rgb(107, 196, 255), rgb(2, 74, 107));
        }
        .left {
            transform: rotateY(90deg) translateZ(25px);
            background: linear-gradient(45deg, rgb(107, 196, 255), rgb(2, 74, 107));
        }
        .right {
            transform: rotateY(90deg) translateZ(-25px);
            background: linear-gradient(45deg, rgb(107, 196, 255), rgb(2, 74, 107));
        }

        .facebook {
            fill: rgb(0, 63, 136);
        }
        &:hover{
            cursor: pointer;
        }
    }
}

@keyframes spin{
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }
    100% {
        transform: rotateX(360deg) rotateY(360deg);
    }
}
