.slider-container {
    padding: 0px;
    margin-top: 5px;
    justify-content: center;
    align-items: center;

    .images {
        width: auto;
        height: 300px;
        padding-top: 10px ;
    }

    .title {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;
        font-size: 20px;
        font-weight: bold;
    }

    .subtitle {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;
        font-size: 15px;
    }

    .conf-button {
        display: flex;
        align-items: center;
        justify-content: center;
        .button-more {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 10px;
            font-size: 15px;
            background-color: rgb(72, 43, 235);
            color: #c4dbfd;
            border-radius: 2px;
            padding: 10px 20px;
            cursor: pointer;
            border-color: rgb(72, 43, 235);
            border-radius: 10px;
        }
    }
}

button.slick-arrow.slick-next::before {
    font-size: 55px;
    position: absolute;
    right: 0;
    color: rgb(72, 43, 235);
}

button.slick-arrow.slick-prev::before {
    font-size: 55px;
    position: absolute;
    left: 0;
    color: rgb(72, 43, 235);
}

.slick-dots {
    bottom: -40px;
    color: #fff;
}

.button-fav-group{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: flex-end;
    .btn-icon{
        margin: 5px;
        width: 50px;
        height: 50px;
        color: rgb(139,134,243);
    }
}
